.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.individualExampleDiv {
    width: 90%;
    padding: 5px 0 5px 15px;
    border: 1px solid;
    border-radius: 5px;
    .jsonContent {
    	width:50%;
        float: left;
    }
    .wizardView {
        width:50%;
        float: left;
    }
}