/* 
Master file
==========
*/
/* Syntax highlighting for JSON objects */
/* line 2, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
ul.json-dict, ol.json-array {
  list-style-type: none;
  margin: 0 0 0 1px;
  border-left: 1px dotted #ccc;
  padding-left: 2em; }

/* line 8, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
.json-string {
  color: #0B7500; }

/* line 11, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
.json-literal {
  color: #1A01CC;
  font-weight: bold; }

/* Toggle button */
/* line 17, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
a.json-toggle {
  position: relative;
  color: inherit;
  text-decoration: none; }

/* line 22, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
a.json-toggle:focus {
  outline: none; }

/* line 25, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
a.json-toggle:before {
  color: #aaa;
  content: "\25BC";
  /* down arrow */
  position: absolute;
  display: inline-block;
  width: 1em;
  left: -1em; }

/* line 33, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
a.json-toggle.collapsed:before {
  content: "\25B6";
  /* left arrow */ }

/* Collapsable placeholder links */
/* line 38, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
a.json-placeholder {
  color: #aaa;
  padding: 0 1em;
  text-decoration: none; }

/* line 43, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_json-viewer.scss */
a.json-placeholder:hover {
  text-decoration: underline; }

/* line 1, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_custom.scss */
.individualExampleDiv {
  width: 90%;
  padding: 5px 0 5px 15px;
  border: 1px solid;
  border-radius: 5px; }
  /* line 6, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_custom.scss */
  .individualExampleDiv .jsonContent {
    width: 50%; }
  /* line 9, /Users/vivekkodira/cloudmunch/marionette-wizard/demo/stylesheets/_custom.scss */
  .individualExampleDiv .wizardView {
    width: 50%; }
